body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
}

.navbar {
    margin-bottom: 0;
}

aside {
    margin-left: 0;
    background-color: lightgray;
    padding: 3%;
}


#main-display {
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    line-height: 2;
    font-size: 24pt;
}

.five-day-card {
    border-radius: 5%;
    color: whitesmoke;
    background-color: blue;
    margin: 1%;
}

h1 {
    font-size: 30pt;
    font-weight: bold;
}

h2 {
    font-size: 20pt;
    font-weight: bold;
}

h3 {
    font-size: 40pt;
    font-weight: bold;
}

h4 {
    font-size: 30pt;
    font-weight: bold;
}

.uv-low {
    background-color: green;
}

.uv-moderate {
    background-color: yellow;
}

.uv-high {
    background-color: orange;
}

.uv-very-high {
    background-color: red;
}

.uv-extreme {
    background-color: purple;
}