body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    width: 100%;
}

aside {
    background-color: lightgray;
}

section {
    background-color: lightgray;
}

.navbar {
    width: auto;
    margin-bottom: 0;
    height: 8vh;
}

.row {
    height: 90vh;
}