body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    font-size: 1.5vw;
    width: 100vw;
}

.navbar {
    margin-bottom: 0;
    height: 8vh;
    width: 100%;
}

main {
    height: 92vh;
    margin: 0;
}

.list-group-item {
    font-size: 1.5vw;
}

h2 {
    font-size: x-large;
    font-size: 1.5vw;
    font-weight: bold;
}

aside {
    margin-left: 0;
    background-color: lightgray;
    padding: 3%;
    height: 90vh;
}


#main-display {
    height: 50vh;
    padding: 5%;
    line-height: 2;
}